<h1>Hello!</h1>

<p>Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe.</p>

<a href="{{ url('visitor.reset_password', {token: resetToken.token}) }}">{{ url('visitor.reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Ciao Ciao !</p>
